@media screen and (min-width: 750px) {
    #packageItemsList{
        transform:translateY(50%);
    }
}

#pkgcontainer img{
    float: right;
}

#submitPackage{
    width: 350px;
    font-size: 24px;
    background-color: #db6b1f;
    color: #fff;
    padding: 10px;
    margin: 20px auto;
}

#packageItemsList > p {
    font-size: 1.5em;
    font-weight: bold;
    text-align: right;
    color: #5e5e5e;
}

#packageItemsList table td, #packageItemsList table th{
    border: none;
}

#packageItemsList table th{
    background-color: #db6b1f;
    color: #fff;
}

#packageItemsList table tfoot{
    color: #db6b1f;
    font-weight: bold;
}

.additems{
    font-weight: bold;
}

.additems span{
    float: right;
}

.middlegrid{
    display:flex;
    justify-content: center;
    align-items: center;
}

#pkgitems{
    margin: 0px 20px;
}

.itemsRow{
    display: flex;
    justify-content: space-around;

}