@media screen and (min-width: 750px) {
    #packageItemsList{
        transform:translateY(50%);
    }
}

#submitPackage{
    width: 250px;
    background-color: orangered;
    color: #fff;
}

#packageItemsList > p {
    font-size: 1.5em;
    font-weight: bold;
    text-align: right;
    color: #5e5e5e;
}

#packageItemsList table td, #packageItemsList table th{
    border: none;
}

#packageItemsList table th{
    background-color: orangered;
    color: #fff;
}

#packageItemsList table tfoot{
    color: orangered;
    font-weight: bold;
}