@charset "utf-8";
/* CSS Document */
html {
	font-family:"Verdana,Tahoma, DejaVu Sans,sans-serif";
	font-size: 14px;
}
.caregifts {
	font-family:"Verdana,Tahoma, DejaVu Sans,sans-serif";
	font-size: 14px;
	color:#db6b1f;
}

.additems {
	font-family: "Verdana,Tahoma, DejaVu Sans,sans-serif";
	font-size: 24px;
	color:white;
	padding: 4px 14px;
	border-top:2em;
	
}
.additemsb {
	background-color: #db6b1f;
	max-width: 800px;
	margin: auto;
}
.yellowb {
	background-color: #ffc700;
	margin:2%;
	border:medium #000000;
	padding: 10px 0px;
	border-radius: 15px;
	width: 200px;
	height: 200px;
}
.outer {
	border:thick #F00;
	margin-right: 10px;
}
.outer2 {
	margin: 0px 10px;
}
.surround{
	position: relative;
}
.surround img.outer2{
	width: 180px;
	height: 150px;
}
.label {
	color:#000;
	float:left;
	width:50%;
	font-size:1em;
	padding-right:1em;
}
.price {
	padding-right:1em;
	color:#FFF;
	float:left;
	width:50%;
	text-align: right;
}
.boxicon{
	max-height:36px;
	max-height:36px;
}
.bottombox{
	background-color:#ffc700;
	width:50%;
	position: absolute;
	z-index:2;
	display:flex;
	bottom: 0px;
	right: 0px;
	border-radius: 5px;
	padding: 2px 2px 0px 2px;
}
.addtocare {
	font-size:0.7em;
	float:right;
}